<div class="container">
    <div class="item item1">
        <img src="./assets/default.png" alt="image">
    </div>
    <div class="item">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username">
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password">
        <input type="button" value="Login" class="big-button">
        <input type="checkbox">Remember Me
    </div>
    <div class="item item3">
        <a href="#">Forgot Password?</a>
        <input type="button" value="Cancel" class="small-button">
    </div>
</div>
