.hover-btn {
    border: none;
    padding: 14px 32px;
    color: #fff;
    background-color: tomato;
    font-size: 20px;
    width: 180px;
}

.hover-btn:hover {
    background-color: red;
}

.hover-btn span {
    position: relative;
    transition: all 1s;
}

.hover-btn span:after {
    content: '\00bb';
    opacity: 0;
    transition: all 1s;
    right: -10px;
    position: absolute;
}

.hover-btn:hover span {
    padding-right: 25px;
    transition: all 1s;
}
   

.hover-btn:hover span:after{
    opacity: 1;
    transition: all 1s;
}